/*body structure*/
body{
  margin:0;
  padding:0;
  font-weight: bold;
  font-size:24px;
  font-family:Verdana, Charcoal, sans-serif;
  background-color: #dcdcdc;
  color: #dcdcdc;

}
/*nav bar*/
header{
  background-color:#000000;
  justify-content: space-between;
  padding: 10px 10%;

}
nav li{
  list-style: none;
  padding: 0px 3%;
  display: inline;
}
main{
  background-color:#3b444b;
  padding: 10px 25px;
  text-align: center;
  vertical-align: middle;
  min-height: 1000px;
}
.whole_page{
margin-left: auto;
margin-right: auto;
max-width: 800px;
}
video{
  margin: 20px;
  max-width: inherit content;
}


footer{
    background-color:#000000;
    padding: 40px 80px
}


/*link1 colors*/
a.link1{
  color:#dcdcdc;
}
a.link1:link{
  color:#dcdcdc;
  text-decoration: none;
}
a.link1:visited{
  color:#dcdcdc;
}
a.link1:hover{
  color:#ffffff;
}


/*nav bar link colors*/
a.linkNav{
  color:#dcdcdc;
}
a.linkNav:link{
  color:#dcdcdc;
  text-decoration: none;
}
a.linkNav:visited{
  color:#dcdcdc;
}
a.linkNav:hover{
  color:#ffffff;

}
